/** {
    background-color: pink;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #9F956C;

}

input[type="text"] {
    background-color: #584D3D;
    color: white;
    border-radius: 25px;
}

/*ID*/
#signup {
    background-color: #584D3D;
    color: #f1faee
}

h1, h2{
    color: #584D3D;
}

/*Class*/
.tag{
    background-color: #242019;
    color: #f1faee;
    font-size: 16px;
    border-radius: 3px;
}

.post:nth-of-type(2n) .tag{
    color:#dfe8dc;
}

.tag:hover{
    background-color: gray;
}

span {
    color: #3B3517
}

.post a {
    color: #3B3517;
    text-decoration: none;
    font-weight: bold;
}

.post a:hover{
    text-decoration: underline;
}

footer a {
    color: #242019;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/*Adjacent Selector + Attribute Selector*/
h2 + input[type="button"] {
    font-size: 20px;
    background-color: #F4E87C;
    border-radius: 13px;
}

/*Direct Child Selector*/
footer > a {
    color: #457d9b;
    text-decoration: none;
}

footer > a:hover {
    text-decoration: underline;
}

/*Attribute Selector*/
a[href*="google"] {
    color: #584D3D;
}

/*pseudo classes*/
a:hover{
    text-decoration: underline;
}

.post:nth-of-type(2n){
    background-color: #dfe8dc;
}

h2::selection {
    color: black;
    background-color: white;
}

h2::first-letter {
    font-size: 35px;
}

.post input[type="button"]:hover {
    background-color: rgb(77, 48, 50);
    color: white
}

.post input[type="button"]:active {
    background-color: rgb(53, 7, 11);
    color: white;
}



